<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
    <h1>Reset password page</h1>
    <form id="form">
        <label for="password">New Password: </label>
        <input type="text" name="password" id="password">
        <br><br>
        <label for="cpassword">Confirm Password: </label>
        <input type="text" name="cpassword" id="cpassword">
        <br></br>
        <input type="submit" value="change password">
        <p id="para" style="color: red;"></p>
    </form>
    <script>
        var root_url = window.location.pathname.split('/')
        console.log(root_url);

        $('#form').submit(function (event) {

            event.preventDefault();
            password = $('#password').val()
            cpassword = $('#cpassword').val()
            // var formdata=new FormData($('#form')[0])
            if (password === cpassword) {
                var response=$.ajax({
                    url: '/api/reset-password/{{reset_token}}',
                    method: 'POST',
                    data: { password: password },
                    success:function(response){
                        console.log(response)
                        if (response['status']){
                            document.getElementById("para").style.color = "green"
                            document.getElementById("para").innerHTML = response['message']
                        }
                        document.getElementById("para").innerHTML = response['message']
                    }
                })
                // .done(() => {
                //     document.getElementById("para").style.color = "green"
                //     document.getElementById("para").innerHTML = "password changed successfully!!"
                // })
                // console.log(response["message"]);
                
            }
            else {
                document.getElementById("para").innerHTML = "confirm password doesn't matched"
            }
        })
    </script>
</body>

</html>